.navbar {
    background-image: url('./header.png');
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

.navbar-brand-span { 
    font-family: 'HeaderFont';
    font-size: 2.5rem;
  }

.submenu {

    font-family: 'HeaderFont';
    font-size: 2rem;

}

.brandlogo {
    height: 100px;
}

.cartlogo {
    font-size: 52px;
}

@media only screen and (max-width: 600px) {
    .navbar-brand-span { 
        font-family: 'HeaderFont';
        font-size: 2rem;
      }
      .submenu {

        font-family: 'HeaderFont';
        font-size: 1.5rem;
    
    }
    .brandlogo {
        height: 50px;
    }
    .cartlogo {
        font-size: 32px;
    }
} 