.navbar {
    background-image: url('./header.png');
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}

.navbar-brand-span { 
    font-family: 'HeaderFont';
    font-size: 2.5rem;
  }