
@font-face{
  font-family: 'HeaderFont';
  src:url('./fonts/HeadFont.otf');
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}
.container {
  padding-bottom: 200px;
}